div {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.wrapTable {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: start;
}

.mainDiv {
    border: 14px ridge rgba(211, 220, 50, .6);
}